<footer id="footer" class="topspace">
	<div class="container">
		<div class="row">
			<div class="col-md-6 widget">
				<h3 class="widget-title">Contact</h3>
				<div class="widget-body">
					<p class='footer'>
						Email: junxiong.mao[at]gmail.com<br>
						Address: Room 1-123-2, 80026, <br>
						9450 Gilman Drive, La Jolla, CA, 92092 0100, US
					</p>	
				</div>
			</div>

			<div class="col-md-6 widget">
				<h3 class="widget-title">About the website</h3>
				<div class="widget-body">
					<p class="footer">
						This personal website is based on Node.js platform with Express framework. It is a MVC structured web application. Mysql database is chosen for the data storage. All those parts are fully developed by Junxiong.<br />
						Last update on <b>8/30/2016</b>
					</p>
				</div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
</footer>