<footer id="footer" class="topspace">
	<div class="container">
		<div class="row">
			<div class="col-md-6 widget">
				<h3 class="widget-title">Contact</h3>
				<div class="widget-body">
					<p class='footer'>
						<a href="mailto:#">junxiong.mao@gmail.com</a><br>
						<br>
						No.800 Dongchuan Road, Minhang District, Shanghai, China<br>
						中华人民共和国 上海市 闵行区 东川路800号 上海交通大学<br>
						QQ: 1012831649
					</p>	
				</div>
			</div>

			<!-- <div class="col-md-4 widget">
				<h3 class="widget-title">Follow me</h3>
				<div class="widget-body">
					<p class="follow-me-icons">
						<a href=""><i class="fa fa-twitter fa-2"></i></a>
						<a href=""><i class="fa fa-dribbble fa-2"></i></a>
						<a href=""><i class="fa fa-github fa-2"></i></a>

					</p>
				</div>
			</div> -->

			<div class="col-md-6 widget">
				<h3 class="widget-title">About the website</h3>
				<div class="widget-body">
					<p class="footer">This personal website is based on Node.js platform with Express framework. It is a MVC structured web application. Mysql database is chosen for the data storage. All those parts are fully developed by Junxiong.</p>
					<p class='footer'>Front-end UI design is cited from <a href="http://www.gettemplate.com/">Initio</a>. It is a Bootstrap template. Junxiong made a few modifications for personal needs.</p>
				</div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
</footer>