<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Colibri | Services</title>
<% include css.ejs %>
<% include upperjs.ejs %>
</head>
<body>
<% include navbar.ejs %>
<div id="section_header">
  <div class="container">
    <h2><span>Our</span> Services</h2>
  </div>
</div>
<div id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 service">
        <h3>Aenean commodo</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu pretium.</p>
        <img src="images/service1.jpg" class="img-responsive" alt=" "> </div>
      <div class="col-lg-4 service">
        <h3>Ligula eget dolor</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
        <img src="images/service2.jpg" class="img-responsive" alt=" "> </div>
      <div class="col-lg-4 service">
        <h3>Aenean massa</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
        <img src="images/service3.jpg" class="img-responsive" alt=" "> </div>
    </div>
    <div class="row">
      <div class="col-lg-4 service">
        <h3>Pellentesque eu pretium</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
        <img src="images/service4.jpg" class="img-responsive" alt=" "> </div>
      <div class="col-lg-4 service">
        <h3>Donec quam felis</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu pretium.</p>
        <img src="images/service5.jpg" class="img-responsive" alt=" "> </div>
      <div class="col-lg-4 service">
        <h3>Parturient montes</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
        <img src="images/service6.jpg" class="img-responsive" alt=" "> </div>
    </div>
  </div>
</div>
<% include footer.ejs %>
<!-- Bootstrap core JavaScript --> 
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>