<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My profile</title>
  <% include css.ejs %>
  <% include upperjs.ejs %>
</head>
<body>
  <% include navbar.ejs %>
<div class='container'>
  <div class='personal'>
    <h2 class='entry-title'>About Me</h1>
    <div class='row'>
      <div class='col-md-4 col-md-offset-1'>
        <img src="/images/id.jpg" height="270" align='right'>
      </div>
      <div class='col-md-6'>
        <p>&nbsp &nbsp My name is <b>Junxiong Mao</b>, also David Mao. I am a passionate computer programmer who is keen on developing software. I am now pursuing my CS master degree in <b>University of California, San Diego</b>. I got my Electrical and Computer Engineering bachelor degree in <b>Shanghai Jiao Tong Univeristy</b>, UM-SJTU Joint Institute, where I learned most of the basic Computer Science courses, including C++ Object-oriented Programming, Algorithms, Data Structures, Operating Systems, Databases, etc. I also spent one spring semester in <b>The University of Hong Kong</b>, where I learned Functional Programming and Distributed Systems.</p>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>
        <p>&nbsp &nbsp I ever worked in <b>Intel Corporation</b> (Shanghai) as a software engineer intern. I developed a web application which could monitor sensor status on the server board, and designed asynchronous algorithms to show real-time data on the front-end.<br />
        &nbsp &nbsp Although I have not decided my future concentration in Computer Science yet, I am very enthusiastic about software implementation. I prefer system level development. I will focus more on this area in the future.</p>
      </div>
      <div class='col-md-10 col-md-offset-1'>
        <h5>Computer Courses:</h5>
        <b><h6>University of California, San Diego (Sept. 2016 - Present)<img src="/images/ucsd.png" align='right' width="100px"></h6></b>
        <p>
          CSE202 Algorithm Design and Analysis<br />
          CSE230 Principles of Program Languages<br />
          CSE232 Principles of Data Base Systems
        </p>
        <b><h6>Shanghai Jiao Tong University (Sept. 2012 - Aug. 2016)<img src="/images/sjtu.png" align='right' width="100px"></h6></b>
        <p>
          VG101 Introduction to Computers and Programming<br />
          VE203 Discrete Mathematics<br />
          VE270 Introduction to Logic Design<br />
          VE280 Programming and Elementary Data Structures<br />
          VE281 Data Structures and Algorithms<br />
          VE370 Introduction to Computer Organizations<br />
          VE373 Design of Microprocessor Based Systems<br />
          VE401 Probabilistic Methods in Engineering<br />
          VE475 Introduction to Cryptography<br />
          VE477 Introduction to Algorithms<br />
          VE482 Introduction to Operating Systems<br />
          VE489 Computer Networks<br />
          CS022 Databases<br />
          EE328 Operating Systems<br />
        </p>
        <b><h6>The University of Hong Kong (Jan. 2016 - May 2016, Exchange)<img src="/images/hku.png" align="right" width="100px"></h6></b>
        <p>
          COMP3258/CSIS2258 Functional Programming<br />
          COMP3402/CSIS0402 System Architecture and Distributed Computing<br />
        </p>
      </div>
      <div class='col-md-10 col-md-offset-1'>
        <h5>Teaching Assistant Experience:</h5>
        <h6>VG101 Introduction to Computers and Programming (2014 Fall)</h6>
        <p>This course teaches basic programming using Matlab, C and C++. Contents including </p>
        </p>
      </div>
      <div class='col-md-10 col-md-offset-1'>
        <h5>Useful Links</h5>
        <b><a href="resume.pdf" target='blank'>My resume</a></b>
        <br />
        <b><a href="https://www.linkedin.com/in/junxiong-mao-08109487">Linkedin homepage</a></b>
        <br />
      </div>

    </div>
  </div>
</div>
<% include footer.ejs %>
</body>
</html>